<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name ="viewport" http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    Dear <strong th:text="${user.name}"></strong>
    <p>Your Login credentials email: <strong th:text="${user.email}"></strong> and Password is:
        <strong th:text="${user.password}"></strong></p>
</body>
</html>